
*.obj
*.exe
/.vs
/enc_temp_folder
/external/libvorbis
/external/ogg-master
/obj
*.log
*.tlog
*.pdb
*.recipe
*.iobj
x64/Release/PhloxEngine.vcxproj.FileListAbsolute.txt
*.ipdb
*.idb
.
/Release/assets
/x64/assets

Release/PhloxEngine.vcxproj.FileListAbsolute.txt
/Debug/assets
*.ilk
/x64
/Debug
/assets
/src/funkin
/src/antilogic
/bin
/hamburger-engine/Debug/microsoft
*.o
/build
*.elf
*.nro
*.nacp
/VisualC/.vs
VisualC/hamburger-engine.vcxproj.user
/VisualC/x64/Debug/assets
/VisualC/Debug/assets
/VisualC/Release/assets
/VisualC/x64/Release/assets
/Makefiles/build
/logs
Makefiles/antiLogic-HE/AntiLogic \[01ee18c0f6dd0000\].nsp
/Makefiles/antiLogic-HE
Makefiles/antiLogic-HE_EXTRACT_TO_SWITCH_FOLDER.zip
