
*.obj
*.exe
/.vs
/enc_temp_folder
/external/libvorbis
/external/ogg-master
/obj
*.log
*.tlog
*.pdb
*.recipe
*.iobj
x64/Release/PhloxEngine.vcxproj.FileListAbsolute.txt
*.ipdb
*.idb
.
/Release/assets
/x64/assets

Release/PhloxEngine.vcxproj.FileListAbsolute.txt
/Debug/assets
*.ilk
*.txt
/x64
/Debug
/assets
/src/funkin
/src/antilogic
/bin
/hamburger-engine/Debug/microsoft
*.o
