[submodule "external/discord-rpc"]
	path = external/discord-rpc
	url = https://github.com/maybekoi/discord-rpc
[submodule "src/engine"]
	path = src/engine
	url = https://github.com/hamburgerEngine/hamburgerEngine-lib.git
[submodule "src/gameName"]
	path = src/gameName
	url = https://github.com/hamburgerEngine/hamburgerEngine-template.git
